<div class="flex-box">
			<div class="login-panel panel panel-default">
				<div class="brand-logo"><img src="images/logo.png" alt="" /></div>
				<div class="panel-body">
					<form role="form" name="loginForm">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="" ng-model="resetemail">
							</div>
							<a href="#" class="btn btn-primary btn-brand" ng-click="reset()">Reset Password</a>
						</fieldset>
					</form>
				</div>
			</div>
	</div><!-- /.flex-box -->	