<div class="flex-box">
			<div class="login-panel panel panel-default">
				<div class="brand-logo"><img src="images/logo.png" alt="" /></div>
				<div class="panel-body">
					<form role="form" name="loginForm">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="New Password"  type="password" autofocus="" ng-model="password.new">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Confirm New Password" type="password" autofocus="" ng-model="password.confirm">
							</div>
							<div class="alert alert-danger well-sm" ng-show="passwordConfirm">
								Password doesn't match
							</div>
							<a href="#" class="btn btn-primary btn-brand" ng-click="newPassword()">Submit</a>
						</fieldset>
					</form>
				</div>
			</div>
	</div><!-- /.flex-box -->	