<div class="flex-box">
			<div class="login-panel panel panel-default">
				<div class="brand-logo"><h1>Register</h1></div>
				<div class="panel-body">
					<form role="form" name="loginForm">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="" ng-model="registeremail">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Password" name="password" type="password" ng-model="password" >
							</div>
							<a href="#" class="btn btn-primary btn-brand" ng-click="register()">Login</a>
						</fieldset>
					</form>
				</div>
			</div>
	</div><!-- /.flex-box -->	